<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KCTYCEDQQE"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KCTYCEDQQE');
  </script>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
  <meta charset="UTF-8">
  <meta name="description"
    content="A program that helps public intrapreneurs within cities around the world to develop their data innovation ideas into reality by providing dedicated support across a 6 month period." />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Open Data Policy Lab: City Incubator" />
  <meta property="og:description"
    content="A program that helps public intrapreneurs within cities around the world to develop their data innovation ideas into reality by providing dedicated support across a 6 month period." />
  <meta property="og:image" content="https://incubator.opendatapolicylab.org/img/og-graph.png" />
  <meta property="twitter:title" content="Open Data Policy Lab: City Incubator" />
  <meta property="twitter:image" content="https://incubator.opendatapolicylab.org/img/og-graph.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Open Data Policy Lab: City Incubator</title>
  <link href="css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/kwv5eho.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://unpkg.com/@directus/sdk-js@5.3.4/dist/directus-sdk.umd.min.js"></script>
</head>

<body>
  <div id="editable">
    <!-- <div id="alert-banner" v-for="alert in alertData" v-if="alert.live == true" class="alert-section">
      <h3>{{alert.alert_title}}</h3>
      <div class="alert-description" v-html="alert.description"></div>
      <div class="main-button">
        <a v-if="alert.link" target="_blank" :href="alert.link">{{alert.button_text}}</a>
        <a id="close-button" onclick="close_alert()">Close</a>
      </div>
    </div> -->
    <div class="hero">
      <div class="header-logo">
        <a href="http://thegovlab.org" target="_blank">
          <img src="img/the-govlab-logo-white.svg" alt="The GovLab">
        </a>
        <a href="http://opendatapolicylab.org" target="_blank">
          <img id="odpl-logo" src="img/open-data-policy-lab-logo-horizontal-white.svg">
        </a>
      </div>
      <nav id="navbar">
        <ul id="mainNav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="http://opendatapolicylab.org">Open Data Policy Lab</a></li>
          <li><a href="press/index.html">Press</a></li>
          <li><a href="https://opendatapolicylab.org/team/">Team</a></li>
        </ul>
      </nav>
      <div class="title-section">
        <h1>Open Data Policy Lab:<br><span id="blue-background">City Incubator&nbsp</span></h1>
        <p><i>Reimagining institutions, investing in<br> innovators, prioritizing data infrastructure</i></p>
      </div>
      <div class="description-section">

        <p><span id="blue-background">Today, <a target="_blank" class="highlight"
              href="https://www.weforum.org/agenda/2020/11/global-continent-urban-population-urbanisation-percent/#:~:text=To%20celebrate%20Cities%20Day%2C%20the,up%20from%2041.3%25%20in%201950.">56%</a>
            of the global population lives in cities.</span> This number is expected
          to increase to <a class="highlight" target="_blank"
            href="https://www.un.org/development/desa/en/news/population/2018-revision-of-world-urbanization-prospects.html">68%</a>
          by 2050. Our
          city governments are the stewards of valuable data, data systems and data policies. <span
            id="blue-background">How might we better equip
            our cities to solve problems with data?</span></p>
      </div>
    </div>
    <div class="definition-section">
      <div class="definition-left">
        <div class="word-title">
          <h1>Cit&bull;y In&bull;cu&bull;ba&bull;tor</h1>
        </div>
        <div class="word-phonetic">
          <p>/'sidē'iNGkyəˌbādər/</p>
          <p class="definition">A program that helps public intrapreneurs within cities around the world to develop
            their
            data innovation ideas into reality by providing dedicated support across a 6 month period.</p>
          <div class="quote">
            <p id="quote-text">"I love the mission of the incubator. If this program could formalize a way for municipal
              innovators to
              overcome bureaucratic inertia, it would be a global game changer."</p>
            <p id="attribution">- Naysan Saran, Co-founder and CEO CANN Forecast</p>
          </div>
        </div>
        <!-- <div class="signup">

          <p>Join the Data Stewards Network listserv for a weekly digest and updates on the City Incubator deadlines,
            announcements and programming.</p>
          <script type="text/javascript">var submitted = false;</script>
          <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {confirm()}">
          </iframe>
          <form method="post" action="https://thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&id=bc6d09925f"
            target="_blank">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff"
                tabindex="-1" value=""></div>

            <div class="form-row">
              <input type="text" placeholder="EMAIL ADDRESS*" name="entry.865215628" aria-hidden=”true”>
              <button name="subscribe form button" class="form-button" type="submit" aria-hidden=”true”>Sign Up for
                Updates</button>
            </div>
          </form>
          <p id="thankyou">Thank you for your submission!</p>
        </div> -->
      </div>
      <div class="definition-right">
        <div class="definition-grid">
          <div class="definition-number">
            <div class="border">
              <h1>10</h1>
              <p>Cities</p>
            </div>
          </div>
          <div class="definition-number">
            <div class="border">
              <h1>10</h1>
              <p>Data Innovations</p>
            </div>
          </div>
          <div class="definition-number">
            <div class="border">
              <h1>10</h1>
              <p>Intrapreneurs</p>
            </div>
          </div>
          <div class="definition-number">
            <div class="border">
              <h1>10</h1>
              <p>Different Countries</p>
            </div>
          </div>
        </div>
        <p><span id="blue-background">Millions of residents' lives improved</span></p>
      </div>
    </div>

    <div class="separator">
      <h2>2021-2022 Inaugural Program Cohort</h2>
    </div>
    <div class="partners-section">
      <div class="team">
        <div v-for="(participant,index) in participantData.reverse()" class="team-image team-50">
          <div class="square">
            <img v-bind:src="participant.headshot.data.thumbnails[3].url">
          </div>
          <h4><a target="_blank">{{participant.first_name}} {{participant.last_name}}</a></h4>
          <h5 style="text-align:center">{{participant.title}}, {{participant.organization}}, {{participant.city}}, {{participant.country}}</h5>
        </div>
      </div>
</div>
    <div class="timeline">
      <h1>2021-2022 Timeline</h1>
      <div class="row-cust mt-5">
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>July 21st</b></span></br>Application Opens
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>August 6th</b></span></br>Early applications
            deadline
            for feedback
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>August 13th</b></span></br>Open Data Policy Lab
            team
            will provide feedback to early deadline applicants
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>September 10th</b></span></br>Final application
            deadline
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>September 17th</b></span></br>Announcement of
            program
            participants
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>September 20th</b></span></br>Programming begins
          </p>
        </a>
        <a target="_blank" class="column-3-timeline-5 last">
          <div class="dot-class"> <span class="dot"></span></div>
          <p style="margin-right: 1rem;"><span class="text-green"><b>March 20th</b></span></br>Program Concludes
          </p>
        </a>

      </div>
    </div>
    <div class="separator">
      <h2>Programmatic Offerings</h2>
    </div>
    <div class="convenings">
      <h2>Dedicated Convenings</h2>
      <p>
      <ul>
        <li><b>Kickoff Workshop: September</b><br>
          Setting the stage, meeting each other, and “virtual mindset sprint” for a data innovation activity. </li><br>

        <li><b>Meet the Mentors Workshop: November</b><br>
          A meet-and-greet event to identify additional opportunities to leverage the expertise of mentors moving
          forward.</li><br>
        <li>
          <b>Final Presentation: March</b><br>
          Presenting participants’ data innovations to a community of leaders in the civic technology and data
          innovation fields. A pitch training and practice session will be scheduled to prepare for this in February.
        </li>
      </ul>
      </p>
    </div>
    <div class="separator">
      <h2>Ongoing Programming</h2>
    </div>
    <div class="benefits-section">

      <!-- <div class="benefit-left">
      <div class="benefit-question">
        <p>Are you a data intrapreneur working in city government?</p>
      </div>
      <div class="benefit-question">
        <p>Do you want to make lasting change in your city?</p>
      </div>
      <div class="benefit-question">
        <p>Can you imagine new ways to drive impact with data?</p>
      </div>
    </div> -->
      <div class="benefit-right">

        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>Data Innovation Bootcamp: September - November</b><br>Built from the principles of the <a
                href="https://opendatapolicylab.org/third-wave-of-open-data/">Third Wave of Open Data</a>, these weekly
              sessions will include four key components: Theory; Tools; Try; and Talk. They will explore subjects such
              as: Foundations of Data Innovation, Planning, Inclusive Innovation, Positioning, Launch Strategy and
              Sustainability.
            </p>
          </div>
        </div>
        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>Practitioner Discussion Series: November - February</b><br>
              Twice a month participants will learn from guest practitioners, who will provide a lecture on select
              subjects tailored to the needs and interests of the program cohort, followed by a group discussion.

            </p>
          </div>
        </div>
        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>Peer Knowledge Exchange: Monthly throughout the program</b><br>
              We strongly believe that innovation is a team sport and are excited for program participants to learn from
              and support each other throughout the program. Monthly Knowledge Exchanges, “show and tells,” will provide
              space for participants to share past work with each other.
            </p>
          </div>
        </div>
        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>Bespoke Guidance from Mentor Brain Trust: As needed throughout the program</b><br>
              Our Council of Mentors is a network of experts, many of whom have been public sector innovators
              themselves. Mentors will be matched with program participants for one-on-one guidance by the City
              Incubator program staff based on participants’ needs throughout the program.
            </p>
          </div>
        </div>
        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>City Incubator Program Staff Check-Ins: Throughout the program</b><br>
              The City Incubator Program Team has a wide range of experiences and are eager to support program
              participants however they can. During select periods throughout the program, participants will have a
              one-on-one meeting with a program team member and will otherwise be expected to report on progress weekly
              via email.
            </p>
          </div>
        </div>
        <div class="benefit-statement">

          <div class="benefit-text">
            <p><b>Data Innovation in Practice Series : Throughout the program</b><br>
              A series of webinars where the City Incubator participants can introduce the innovation they are working
              on to a public audience for feedback and/or knowledge-sharing.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator">
      <h2>PRESS</h2>
    </div>
    <div class="press">

      <div class="press-row">
        <div class="press-col" v-for="(press,index) in pressData" v-if="((index < 3) && press.feature)">
          <div class="press-card">
            <div class="press-img" :style="{ backgroundImage: 'url(' + press.thumbnail.data.full_url+ ')' }">

            </div>
            <div class="press-body">
              <h2>{{press.title}}</h2>
              <p>{{press.description}}</p>
            </div>
            <div class="press-link">
              <a :href="press.url">Read More</a>
            </div>
          </div>
        </div>

      </div>
      <div class="all-articles">
        <div class="press-link">
          <a href="press/index.html">See All Articles</a>
        </div>
      </div>
    </div>
    <div class="partners-section">
      <h1>Partners</h1>
      <p>We are excited to partner with a variety of individuals and organizations around the world eager to collaborate
        in helping public innovators in cities to advance responsible data innovation initiatives. If you're interested
        in
        exploring a way to support the City Incubator, email: <a
          href="mailto:adrienne@thegovlab.org">adrienne@thegovlab.org</a></p>
      <div class="partner-logos">
        <div class="partner-item">
          <img src="img/mslogo.jpg">
          <p>Microsoft's mission is to empower every person and every organization on the planet to acheive more.</p>
        </div>
        <div class="partner-item">
          <img src="img/citypossible.jpg">

          <p>City Possible is a partnership model pioneered by Mastercard that helps cities develop shareable solutions
            to
            common problems that advance inclusive and sustainable urban development. Through City Possible, we’re
            helping
            unlock more possibilities for people and businesses by helping city leaders connect communities with
            integrated city services. City Incubator participants will have access to the <a target="_blank"
              href="https://citypossible.com/how-to-access-city-insights/">suite of apps, tools and
              services available through the City Insights digital marketplace</a>.</p>
        </div>
        <div class="partner-item">
          <img src="img/luminate.png">
          <p>Luminate is a global philanthropic organisation focused on empowering people and institutions to work
            together to build just and fair societies.</p>
        </div>
        <div class="partner-item">
          <img src="img/cusp.png">
          <p>New York University’s Center for Urban Science And Progress (CUSP) is an interdisciplinary research center
            dedicated to the application of science, technology, engineering, and mathematics in the service of urban
            communities across the globe.</p>
        </div>
        <div class="partner-item">
          <img src="img/psn.png">
          <p>PSN is a social learning platform for the Public Sector. We connect public sector professionals around the
            world, to share information and learn through examples from other government organisations, while building a
            strong sense of community with our members.</p>
        </div>
        <div class="partner-item">
          <img src="img/open-north.png">
          <p>We are a non-profit, driven by our values. We work with public, private and research partners as well as
            community stakeholders to foster effective, responsible, and collaborative use of data and technology and
            solve complex problems.</p>
        </div>
      </div>
    </div>

    <div class="partners-section">
      <h1>Council of Mentors</h1>
      <p>Our Council of Mentors are experts from around the world in domains such as product management, performance
        management, data program development, data strategy, intrapreneurship and public sector problem solving. Mentors
        will be available to program participants throughout their six months with the City Incubator. This is our
        preliminary group of mentors; recruitment of additional mentors is taking place over the summer.</p>
      <div class="team">
        <div v-for="(mentor,index) in mentorData.reverse()" class="team-image team-50">
          <div class="square">
            <img v-bind:src="mentor.headshot.data.thumbnails[3].url">
          </div>
          <h4><a target="_blank" :href="mentor.linkedin">{{mentor.first_name}} {{mentor.last_name}}</a></h4>
          <h5>{{mentor.affiliation}}</h5>
        </div>
      </div>
    </div>
    <div class="faq-section">
      <h1>Frequently Asked Questions</h1>
      <p>If after reading the FAQs you have additional questions please contact <a
          href="mailto:adrienne@thegovlab.org">adrienne@thegovlab.org</a>. All answers to questions sent via email will
        be
        added to the FAQ as a resource for all interested program participants.</p>
      <div id="faq" class="text-box">

        <div class="faqs">
          <div v-for="(question,index) in faqData">
            <div @click="toggleMessage(index)" v-bind:class="{ active: showMessage && index_active==index }"
              class="accordion"><span id="bold">{{index+1}}.&nbsp{{question.question}}</span><i
                class="material-icons down"></i></div>
            <div v-if="showMessage && index_active==index" class="panel" v-html="question.answer">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



<script>
  function close_alert() {
    var x = document.getElementById("alert-banner");
    x.style.display = "none";
  }
</script>

<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="js/scripts.js"></script>

</html>